<body>
	<div id="page">
		<div id="header">
			<h1>Parasimeter</h1>
		</div>

		<div id="slogan">
			<h2>How much of a parasite are you to society?</h2>
		</div>

		<div id="total_box">
			<div id="total_text"></div>
				TOTAL
			<div id="counter_total">
				00:00:00
			</div>
		</div>	

		<div id="counters_box">
			<div id="counter_working">
				00:00:00
			</div>
			<div id="counter_parasiting">
				00:00:00
			</div>
			<div id="text_working">
				WORKING
			</div>
			<div id="text_parasiting">
				PARASITING
			</div>
		</div>
		
		<div id="stop">
			<%= image_tag("stopall.png") %>
		</div>



	</div>

</body>