<div id="slogan">
	<h2>How much of a parasite are you to society?</h2>
</div>

<div id="counters_box">
	<div id="total_box">
		<div id="total_text">
			TOTAL
		</div>
		<div id="counter_total">
			00:00:00
		</div>
	</div>	


		<div id="partial_box">
			<div id="col_working">
				<div id="counter_working">
					00:00:00
				</div>
				<div id="text_working">
					<span class="button">WORKING</span>
				</div>
			</div>
			<div id="col_parasiting">
				<div id="counter_parasiting">
					00:00:00
				</div>
				<div id="text_parasiting">
					<span class="button">PARASITING</span>
				</div>
			</div>
		</div>
</div>

	<div id="done">
		STOP
	</div>

