<div id="results" class="main_box">
	
	<div class="left_side" id="chart_box">
		<div id="chart">
			<canvas id="doughnut_chart" width="150" height="150"> </canvas>

			<div id="percentage"></div>
		</div>		
	</div>
	
	<div class="right_side" id="content">
		<div id="score">
			<div class="small_text" id="score_text">
				You parasited
			</div>

			<div id="score_value">
				SCORE_VALUE
			</div>
		</div>

		<div class="small_text" id="hero_shot_text">
			Your hero shot:
		</div>

		<h3 id="hero_shot">
			<%= phrase.text %>
		</h3>

	</div>

	<div id="buttons">
		<div class="left_side" id="start_again_box">
			<a id="start_again" class="big_button" href="javascript:window.location.reload();" target="_blank"></a>			
		</div>

		<div class="right_side" id="fb_share_box">
			<a id="fb_share" class="big_button" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fparse.com" target="_blank"></a>			
		</div>
	</div>
</div>

<div id="arrow">
	
</div>

<p class="small_text" id="soon">SOON,<br>your Hero Shot on Parasite Merchandise</p>

<div id="merch">
	
</div>
