<div id="results" class="main_box">
	
	<div id="chart_box">
		<div id="chart">
			<canvas id="doughnut_chart" width="150" height="150"> </canvas>

			<div id="percentage"></div>
		</div>		
	</div>
	
	<div id="content">
		<div id="score">
			<div class="small_text" id="score_text">
				You parasited
			</div>

			<div id="score_value">
				SCORE_VALUE
			</div>
		</div>

		<div class="small_text" id="hero_shot_text">
			Your hero shot:
		</div>

		<div id="hero_shot">
			HERO_SHOT
		</div>

		<div id="fb_share">
			FB_SHARE
		</div>	
	</div>

</div>
