<div id="page" class="main_content">
	<div id="header">
		<h1>Parasimeter</h1>
	</div>

	<div id="results">
		<div id="chart">
			CHART
		</div>
		
		<div id="content">
			<div id="score">
				<div id="score_text">
					TOTAL: 
				</div>

				<div id="score_value">
					SCORE_VALUE
				</div>
			</div>

			<div id="hero_shot">
				HERO_SHOT
			</div>

			<div id="fb_share">
				FB_SHARE
			</div>	
		</div>

	</div>
		
</div>

