<div id="results">
	<div id="chart">
		<canvas id="doughnut_chart" width="200" height="200"> </canvas>
		
		<div id="percentage"></div>
	</div>
	
	<div id="content">
		<div id="score">
			<div id="score_text">
				TOTAL: 
			</div>

			<div id="score_value">
				SCORE_VALUE
			</div>
		</div>

		<div id="hero_shot">
			HERO_SHOT
		</div>

		<div id="fb_share">
			FB_SHARE
		</div>	
	</div>

</div>
