* {
	box-sizing: border-box;
}

body {
	background-color: #333
}

.main_content {
	width: 980px;
	text-align: center;
	margin: 0 auto;
}

#partial_box > div {
	width: 50%;
	float: left;
}

#chart_box {
	width: 37.5%;
	float: left;
	padding-top: 25px;
}

#chart {
	width: 150px;
	height:	150px;
	position:	relative;
	margin: auto;
}

#content {
	width: 62.5%;
	float: left;
	padding-top: 25px;
}

#score_text {
	font-size: 18px;
	font-family: 'Rokkitt', serif;
	color: #FFF;
	text-align: left;
}

#score_value {
	font-family: 'Alfa Slab One', cursive;
	font-size: 36px;
	color: #FFF;
	text-align: left;
}

h2 {
	font-family: 'Alfa Slab One', cursive;
	color: #f2c215;
	font-size: 40px;
	font-weight: normal;
}

#slogan {
	width: 600px;
	text-align: center;
	margin: 0 auto;
}

#reset {
	display: none;
}

#header {
	padding-bottom: 30px;
	padding-top: 20px;
	cursor: pointer;
}

#counters_box {
	height: 260px;
}

.main_box {
	width: 640px;
	background-color: #454545;
	text-align: center;
	margin:0 auto;
	border-radius: 10px;
}

#total_text {
	font-family: 'Rokkitt', serif;
	font-size: 18px;
	padding-top: 20px;
	color: #fff;
}

#counter_total {
	font-family: 'Alfa Slab One', cursive;
	font-size: 36px;
	color: #fff;
}

#counter_working {
	font-family: 'Alfa Slab One', cursive;
	font-size: 60px;
	color: #fff;
}

#counter_parasiting {
	font-family: 'Alfa Slab One', cursive;
	font-size: 60px;
	color: #fff;
}

#partial_box {
	overflow: hidden;
}

.button{
	display: block;
	font-family: 'Rokkitt', serif;
	font-size: 18px;
	color: #333;
	width: 240px;
	height: 30px;
	background-color: #f2c215;
	text-align: center;
	margin: 0 auto;
	line-height: 30px;
	cursor: pointer;
}

.button:hover {
	background-color: #f9d65a;
}

.button_active,
.button_active:hover {
	background-color: #fff;
}

#results {	
	width:	640px;
	background-color: #454545;
	border-radius:	10px;
	overflow:	hidden;
}

#percentage {
	position: absolute;
	left: 0;
	top: 0;
	width: 150px;
	text-align: center;
	height: 150px;
	line-height: 150px;
	font-family: 'Alfa Slab One', cursive;
	font-size:	24px;
	color: #F2C215;
}

#stop {
	display: none;
	font-family: 'Rokkitt', serif;
	font-size: 30px;
	width: 110px;
	height: 110px;
	background-color: #f2c215;
	border-radius: 55px;
	text-align: center;
	margin: 0 auto;
	line-height: 110px;
	cursor: pointer;
	margin-top: -35px;
	color: #333;
}

#stop:hover {
	background-color: #f9d65a;
}
