body {
	background-color: #333
}

.main_content {
	width: 980px;
	text-align: center;
	margin: 0 auto;
}

#stop img {
	width: 7%; 
}

#partial_box > div {
	width: 50%;
	float: left;
}

#chart {
	width: 30%;
	float: left;
}

#content {
	width: 70%;
	float: left;
}

#score_text {
	width: 50%;
	float: left;
}

#score_value {
	width: 50%;
	float: left;
}
h1 {
	font-family: 'Alfa Slab One', cursive;
	color: #fff;
	font-size: 24px;
}

h2 {
	font-family: 'Alfa Slab One', cursive;
	color: #f2c215;
	font-size: 40px;
}

#slogan {
	width: 600px;
	text-align: center;
	margin: 0 auto;
}

#reset {
	display: none;
}

#header {
	padding-bottom: 30px;
	padding-top: 20px;
}

#counters_box {
	width: 640px;
	height: 260px;
	background-color: #454545;
	text-align: center;
	margin:0 auto;
}

#total_text {
	font-family: 'Rokkitt', serif;
	font-size: 18px;
	padding-top: 20px;
	color: #fff;
}

#counter_total {
	font-family: 'Alfa Slab One', cursive;
	font-size: 36px;
	color: #fff
}

#counter_working {
	font-family: 'Alfa Slab One', cursive;
	font-size: 60px;
	color: #fff
}

#counter_parasiting {
	font-family: 'Alfa Slab One', cursive;
	font-size: 60px;
	color: #fff
}




















