* {
	box-sizing: border-box;
}

body {
	background-color: #333
}

.main_content {
	width: 980px;
	text-align: center;
	margin: 0 auto;
}

#partial_box > div {
	width: 50%;
	float: left;
}

.left_side {
	width: 37.5%;
}

.right_side {
	width: 62.5%;
}

#chart_box {
	float: left;
	padding-top: 25px;
}

#chart {
	width: 150px;
	height:	150px;
	position:	relative;
	margin: auto;
}

#content {
	float: left;
	padding-top: 25px;
}

.small_text {
	font-size: 18px;
	font-family: 'Rokkitt', serif;
	color: #FFF;
	text-align: left;
}

#hero_shot_text {
	padding-top: 20px;
}

#hero_shot {
	font-family: 'Alfa Slab One', cursive;
	color: #F2C215;
	font-size: 36px;
	margin-bottom: 20px;
	margin-right: 20px;
	text-align: left;
}

.big_button {
	width: 100px;
	height: 100px;
	display: block;
	border-radius: 50px;
	clear: left;
}

#buttons {
	overflow: hidden;
	clear: left;
}

#fb_share {
	background-image: url(share.png);
}

#fb_share:hover {
	background: url(shareover.png);
}

#start_again {
	background-image: url(startagain.png);
	margin: 0 auto;
}

#start_again:hover {
	background: url(startagainover.png);	
}

#score_value {
	font-family: 'Alfa Slab One', cursive;
	font-size: 36px;
	color: #FFF;
	text-align: left;
}

#start_again_box {
	float: left;
	text-align: center;
}

#fb_share_box {
	float: left;
}

h2 {
	font-family: 'Alfa Slab One', cursive;
	color: #f2c215;
	font-size: 40px;
	font-weight: normal;
}

#slogan {
	width: 600px;
	text-align: center;
	margin: 0 auto;
	cursor: default;
}

#slogan h2 {
	height: 108px;
}

#reset {
	display: none;
}

#header {
	padding-bottom: 30px;
	padding-top: 20px;
	width: 640px;
	margin: 0 auto;
	position: relative;
}

#counters_box {
	height: 260px;
}

.main_box {
	width: 640px;
	background-color: #454545;
	text-align: center;
	margin:0 auto;
	border-radius: 10px;
}

#total_text {
	font-family: 'Rokkitt', serif;
	font-size: 18px;
	padding-top: 20px;
	color: #fff;
	cursor: default;
}

#counter_total {
	font-family: 'Alfa Slab One', cursive;
	font-size: 36px;
	color: #fff;
	cursor: default;
}

#counter_working {
	font-family: 'Alfa Slab One', cursive;
	font-size: 60px;
	color: #fff;
	cursor: default;
}

#counter_parasiting {
	font-family: 'Alfa Slab One', cursive;
	font-size: 60px;
	color: #fff;
	cursor: default;
}

#partial_box {
	overflow: hidden;
	background:url(separador.png) center bottom no-repeat;
}

.button {
	display: block;
	font-family: 'Rokkitt', serif;
	font-size: 18px;
	color: #333;
	width: 240px;
	height: 30px;
	background-color: #f2c215;
	text-align: center;
	margin: 0 auto;
	line-height: 30px;
	cursor: pointer;
}

.button:hover {
	background-color: #f9d65a;
}

.button_active {
	background-color: #fff;
}

.button_active:hover {
	background-color: #f9d65a;
}

#results {	
	width:	640px;
	background-color: #454545;
	border-radius:	10px;
	overflow:	hidden;
}

#percentage {
	position: absolute;
	left: 0;
	top: 0;
	width: 150px;
	text-align: center;
	height: 150px;
	line-height: 150px;
	font-family: 'Alfa Slab One', cursive;
	font-size:	24px;
	color: #F2C215;
}

#stop {
	display: none;
	font-family: 'Rokkitt', serif;
	font-size: 30px;
	width: 110px;
	height: 110px;
	background-color: #f2c215;
	border-radius: 55px;
	text-align: center;
	margin: 0 auto;
	line-height: 110px;
	cursor: pointer;
	margin-top: -35px;
	color: #333;
}

#stop:hover {
	background-color: #f9d65a;
}

#follow a {
	background: url(follow.png) right top no-repeat;
	width: 115px;
	height:40px;
	display: block;
	font-family: 'Rokkitt', serif;
	font-size: 18px;
	color:#555;
	float:left;
	line-height: 40px;
	text-align: left;
	text-decoration: none;
}

#follow a:hover {
	background: url(followover.png) right top no-repeat;
	color: #f2c215;
}

#follow {
	cursor: pointer;
	position: absolute;
	height: 40px;
	width: 115px;
	right: 0px;
	top: 43px;
}

#logo {
	background: url(logo.png) center bottom no-repeat;
	cursor: pointer;
	width: 210px;
	height: 77px;
	display: block;
	margin: 0 auto;
}

#arrow {
	height: 100px;
	background: url(arrow.png) center no-repeat;
	margin-top: -35px;
}

#soon {
	text-align: center;
	margin: 0 auto;
}

#merch {
	height: 340px;
	background: url(merchandising.jpg) center no-repeat;
	margin-top: 50px;
	margin-bottom: 75px;
}